<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
      <%= form_with(model: @prototype, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "プロトタイプの名称" %>
      <%= form.text_field :catch_copy, placeholder: "キャッチコピー" %>
      <%= form.text_area :concept, placeholder: "コンセプト" %>
      <%= form.submit "保存する" %>
        <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>